.timetable {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border-spacing: 0;
}

th {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

th span {
  display: table-row;
  text-align: start;
}

th.line {
  width: 150px;
}

th.destination {
  width: auto;
}

th.departure {
  width: 150px;
}

th span:nth-child(even) {
  font-size: 0.8em;
}

td {
  color: var(--main-color);
  padding: 15px;
}

tr:nth-child(even) {
  background: #21262d;
}
