:root {
  --main-color: #ffe81a;
}

html {
  --font-size: 100%;
  --display-settings: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: black;
  color: var(--main-color);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

span {
  font-weight: 500;
}
